*
{
  font-family: 'Vollkorn', serif;
  font-size: 20px;
}

.navbar-nav li{
  font-size: 15px;
  padding: .5em;
}

.nav-item .active:hover{
  border-bottom: solid rgba(40, 75, 99, 0.699);
}

.hover_info {
    position: relative;
    border-bottom: 1px dotted black;
  }

.hover_info:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hover_info:hover:before {
    opacity: 1;
    visibility: visible;
  }



  /* news carousel styling */
  .news_link:hover{
    font-size: larger;
    color: burlywood;
    font-weight: bold;
  }
  .news_link{
    color: burlywood;
    
  }
  .carousel-inner > .carousel-item >img{
    min-height : 300px;
    max-height : 300px;
    width : 100%;
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
  }
  

  div#news {
    width: 50%;
  }

  div#news a {
    color: bisque;
  }
  
  .weather_icon {
    width: 50px;
    height: 50px;

  }


/* profile page css */

body .profile {
  background: linear-gradient(white, #e7d2b865);
  
  
}
#trans-results{
  display: grid;
  border-left: solid black;
}
#cn-news{
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 25px;
}


#list_of_tp{
 
  background-color: linear-gradient(white, #d6b58c65);
  
  background-size: cover;
  border-radius: 25px;
  border: solid 2px rgb(38 37 35 / 55%);
}
.row .tp_previews{
  padding-top: 25px;
  margin-bottom: 35px;
}
.tp_previews .card{
  background: linear-gradient(rgba(40, 75, 99, 0.699), rgba(3, 21, 34, 0.699), rgba(154, 109, 56, 0.699));
  
}
.tp_previews .card:hover{
  margin-top: 2px;
  box-shadow: -1px 8px 8px #5c3727;
}
#translation{
  border: solid 5px black;
  border-radius: 25px;
  box-shadow: -1px 6px 11px 0px #888888;
  background-color: #29373a3b;
  margin-top: 25px;
  padding: 25px;
}
h3 #tp_icon{
  height: 50px;
  
}
.tp_text{
  font-size: 30px;
  font-weight: bold;
  color: #181818;
  text-decoration: underline;
}

#trs-header{
  margin-top: 50px;
}
#trs_icon{
  height: 50px;
}

#news-header{
  margin-top: 50px;
}
#news_icon{
  height: 50px;
}

/* Create a travel planner Css */
#image{ 
  background: url("/static/layout/editedtp-image.png") no-repeat center center;
  background-size: cover;
  
}
