<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css"> 
        {% block head %}{% endblock %}
        <title>
            {% block title %}{% endblock %}
          </title>
    </head>
    <body>
        {% if session.get('user_id')%}
        <nav>
            <h2>Explore</h2>
          <ul>
            <li><a href="/profile/{{session.get('user_id')}}">Account Page</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/new_tp">Create a new Travel planner</a></li>
            {% block content%}{% endblock %}
          </ul>
          </nav>
          {% endif %}
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}
    {% block body %}{% endblock %}
    </body>
</html>