{%extends 'base.html'%}
{% block head %}

{% endblock %}

{% block body %}
<h1>Create your Travel Planner!</h1>

<form action="/create_travelplanner" id="create_travelplanner" method="POST">
    <label>Travel Planner name</label>
    <input type="text" name="tp_name" id="name">
    <br>
    <label>locations</label>
    <select name ="destinations" autocomplete="on">
        {% for destination in destinations %} 
            <option name="destinations" value="{{destination.city_name}},{{destination.country_name}}">{{destination.city_name}},{{destination.country_name}}</option>
        {% endfor %}
    </select>
    <br>
    
    <label>Date you plan on going? *optional</label>
    <input type="date" name="date" id="date">
    <input type="submit" name="submit" value="submit">
</form>
<p>Don't see your destination? <a href="#">Let us know other places you want added</a></p>


{%endblock body%}