{%extends 'base.html'%}
{% block head %}
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block body %}
<h1>Create your Travel Planner!</h1>

<form action="/create_travelplanner" id="create_travelplanner" method="POST">
    <label>Travel Planner name</label>
    <input type="text" name="tp_name" id="name">
    <br>
    <label>locations</label>
    <select class="destinations" name ="destinations">
        {% for destination in destinations %} 
            <option name="destinations" value="{{destination.city_name}},{{destination.country_name}}">{{destination.city_name}},{{destination.country_name}}</option>
        {% endfor %}
    </select>
    <br>
    
    <label>Date you plan on going? *optional</label>
    <input type="date" name="date" id="date">
    <input type="submit" name="submit" value="submit">
</form>
<p>Don't see your destination? <a href="#">Let us know other places you want added</a></p>
<!-- find another option with vanilla js because jquery is just like a wrapper -->
<script>
$(document).ready(function() {
    $('.destinations').select2();
});</script>
{%endblock body%}