{%extends 'base.html'%}
{% block head %} <link rel="stylesheet" href="/static/css/emergency.css"> {% endblock %}
{% block title %}
Emergency Information for {{destination.country_name}}
{% endblock %}
{% block content%}
<li class="nav-item">
    <a class="nav-link" href="/travel_planner/{{tp.tp_id}}/{{tp.destinations[0].dest_id}}">Return to {{tp.name}}</a>
</li>
{% endblock %}
{% block body %}
<div id="link-preview">
<h4>{{link_preview['title']}}</h4>
<img src="{{link_preview['image']}}" alt="">
<p>
    {{link_preview['description']}}
    <h5>click <a target="_blank" href="{{link_preview['url']}}">here</a> for more information</h5> 
</p>

</div>
<div></div>
<div id="emergency">
    {% if emergency_nums %}
        <h3>Please make sure to check if these numbers are still in use</h3>
        {% for num in emergency_nums %}
            <p>{{num}}: {{emergency_nums[num]}}</p>
        {% endfor %}
    {% else %}
        <h4>Sorry we couldn't find emergency numbers for {{destination.country_name}}!</h4>
        <p>We are always updating so please check back!</p>
        <p>Until then, please click the link above to go to your government website to find more in depth information.</p>
    {% endif %}
</div>


<div id="embassy_info">
    <h1>Embassies</h1>
    {% if rel_embassy %}
            {% if rel_embassy[0].website %}
            <a target="_blank" href="{{rel_embassy[0].website}}">Embassy of {{tp.user.home_country}} in {{destination.city_name}}</a>
            <br>
            {%else%}
            <p>Embassy of {{tp.user.home_country}} in {{destination.city_name}}</p>
            {% endif %} 
            <p>address: {{rel_embassy[0].address}}</p>
            


        <h3>Here are some in the surronding areas in {{destination.country_name}}!</h3>
            
            {% if not embassies %}
        <h3>Sorry! We couldnt find any other embassies for this location!</h3>
        <p>We are always updating, so be sure to check back in!</p>
            {%else%}
            <ul class="embassies">
                {% for embassy in embassies %}
                <ol>
                    
                    <p> 
                        {%if embassy.website %}
                        <a target="_blank" href="{{embassy.website}}">Embassy of {{tp.user.home_country}} in {{embassy.destination.city_name}}</a>
                        {%else%}
                        <p>Embassy of {{tp.user.home_country}} in {{embassy.destination.city_name}}</p>
                        {%endif%}
                        <p>address: {{embassy.address}}</p>   
                    </p>
                </ol>
                <br>
                {%endfor%}
            </ul>
            {% endif %}
    {%else%}
        {% if not embassies %}
        <h3>Sorry! We couldnt find any embassies for this location!</h3>
        <p>We are always updating, so be sure to check back in!</p>
        {% else %}
        <p>There doesn't seem to be any embassies in {{destination.city_name}}!</p>
        <p>However, we were able to find embassies around {{destination.country_name}} for you! </p>
        <ul class="embassies">
            {% for embassy in embassies %}
            <ol>
                
                <p> 
                    {%if embassy.website %}
                    <a target="_blank" href="{{embassy.website}}">Embassy</a>
                    <br>
                    address: {{embassy.address}}
                    {%else%}
                    <p>Embassy of {{tp.user.home_country}} in {{embassy.destination.city_name}}</p>
                   
                    address: {{embassy.address}}
                    {%endif%}
                </p>
            </ol>
            <br>
            {%endfor%}
        </ul>
        
        {% endif %}
         
    {%endif%}
    </div>          
{%endblock body%}