<!DOCTYPE html>
<html>
    <head>
        <script>
            
        </script>
    </head>
    <body>
        <h1>WELCOME BACK TO TRAVEL BUDDY</h1>
        <form action="/login" id="login-form">
            <label>First name</label>
            <input type="text" name="fname" id="fname">
            <label>Last name</label>
            <input type="text" name="lname" id="lname">
            <label>Email</label>
            <input type="text" name="email" id="email">
            <label>Password</label>
            <input type="password" name="password" id="password">
            <label>Nationality</label>
            <select name="Nationality" id="">
                <option value="United States">American</option>
                <option value="Canada">Canadian</option>
                <option value="United Kingdom">British</option>
            </select>
            <input type="submit" name="submit" value="submit">
        </form>
        <h1></h1>
    </body>
</html>