{%extends 'base.html'%}
{% block head %}
<link rel="stylesheet" href="/static/css/travel_planner.css">
{% endblock %}

{% block content%}
  <li class="nav-item">
    <a class="nav-link" href="/emergency_info/{{tp.tp_id}}/{{base_dest.country_name}}">Emergency Info</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Switch Travel Planners
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for travel_planner in tp.user.travel_planner%}
            {% if travel_planner.tp_id == tp.tp_id %}
            <li><a class="dropdown-item" href="/travel_planner/{{travel_planner.tp_id}}/{{travel_planner.destinations[0].dest_id}}" style="background-color: powderblue;"><strong>{{travel_planner.name}}</strong></a></li>
            {%else%}
            <li><a class="dropdown-item" href="/travel_planner/{{travel_planner.tp_id}}/{{travel_planner.destinations[0].dest_id}}">{{travel_planner.name}}</a></li>
            {%endif%}
        {%endfor%}
    </ul>
  </li>
{% endblock %}
{% block body %}
    <div id="Alert"></div>
    <div id="1">
        <h1 id="dest_country">Destinations</h1>
        <div id="dest_list">
            <ul>
                {% for destination in destinations%}
                {% if destination == base_dest %}
                <li><a href='/travel_planner/{{tp.tp_id}}/{{destination.dest_id}}'><button disabled value="{{destination.city_name}},{{destination.country_name}}">{{destination.city_name}},{{destination.country_name}}</button></a></li>
                {% else %}
                <li><a href='/travel_planner/{{tp.tp_id}}/{{destination.dest_id}}'><button value="{{destination.city_name}},{{destination.country_name}}">{{destination.city_name}},{{destination.country_name}}</button></a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
            </form>

            <button id="add" data-bs-toggle='modal' data-bs-target="#modal-add" >Add a new destination</button>
            <div class="modal" tabindex="-1" id="modal-add">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Choose a location</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/add_dest" id="add_dest" method="POST">
                            <label>Country</label><br>
                            
                            
                            
                            
                            <input type="text" name="country" id="add_dest_country" list="AD_list_countries" required>
                            <datalist id ="AD_list_countries">
                                {% for country in countries %} 
                                    <option value="{{country}}"></option>
                                {% endfor %}
                            </datalist><br>
                            <br><label>City</label><br>
                            <input type="text" name="city" id="add_dest_city" list= 'AD_list_of_cities' required>
                            <datalist id ="AD_list_of_cities">
                              
                                    
                                
                            </datalist><br>
                           
                            <input id='add-tp_id' name='add-tp_id' type="text" style="visibility: hidden;" value="{{tp.tp_id}}"></input><br>
                            <label>Date you plan on going? *optional</label>
                            <input type="date" name="date" id="date" min="{{today}}"><br>
                            <br><input type="submit" name="submit" value="Add Destination!">
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            

        <!-- Delete form -->
        <button id="remove" onclick="showForm('remove');">Delete a destination</button>
        <form action="/remove_dest" method="post" id= "remove_dest" style="visibility: hidden;">
            <input id='tp_id' type="text" style="visibility: hidden;" value="{{tp.tp_id}}"></input><br>
            <label for="destinations">Choose a destination to remove</label><br>
            <select name="destinations" id="dest_id">
                {% for destination in destinations %}
                    <option name="destinations" value="{{destination.dest_id}}">{{destination.city_name}},{{destination.country_name}}</option>
                {% endfor %}
            </select>
            
            <button id='delete'>Delete this destination</button>
        </form>
    </div>
    <div id = '2'>
    <div class="accordion" id="#weatherAccordion">
        <h3>Weather </h3>
        <p style="opacity: 40;">*double click to expand</p>
        {%if weather_info == weather_info|string() %}
          {{weather_info}}
          <p>Sorry {{base_dest.city_name}} may be too obscure or may be spelled improperly</p> 
          {%else%}  
        <div class="accordion-item">
            {%for date in weather_info%}
          <h2 class="accordion-header" id="heading{{date[1][0][3]}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{date[1][0][3]}}" aria-expanded="false" aria-controls="collapse{{date[1][0][3]}}">
                <p class = "weather_info" >{{date[0]}}*{{date[1][0][0]}}&nbsp;&nbsp;&nbsp;&nbsp;{{date[1][0][2]}}&nbsp;{{date[1][0][1]}}&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{date[1][0][4]}}" alt="weather icon" class= "weather_icon"></p>
            </button>
          </h2>
          <div id="collapse{{date[1][0][3]}}" class="accordion-collapse collapse" aria-labelledby="heading{{date[1][0][3]}}" data-bs-parent="#weatherAccordion">
            <div class="accordion-body">
                {%for time in date[1]%}
              <p class = "weather_info"><strong>{{time[0]}}&nbsp;&nbsp;{{time[1]}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{time[4]}}" alt="weather icon" class= "weather_icon"></p>
              <ul>
                  <li>{{time[2]}}</li>
              </ul> 
                 
            {%endfor%}
            </div>
          </div>
          {%endfor%}
        </div> 
        
    {%endif%}   
    </div>
    </div>  

    <div id= "3" >
    
    <div id ="flight">Flight and hotel recs</div>
    <div  id='hotels_form'>
        <form id="hotel_choice">
            <label for="checkin" >Check-in date:<input type="date"id="checkin" min="{{today}}" onchange="setMin();" required></label>
            <br>
            <label for="checkout" >Check-out date:<input type="date" id="checkout" min="{{today}}" required></label>
            <br>
            <label for="sort-order" >Sort by:</label>
            <select name="sort-order" id ='sort-order'>
                <option value="PRICE">Price(low to high)</option>
                <option value="STAR_RATING_HIGHEST_FIRST">Star rating(high to low)</option>
                <option value="STAR_RATING_LOWEST_FIRST">Star rating(low to high)</option>
                <option value="GUEST_RATING">Guest rating</option>
                <option value="PRICE_HIGHEST_FIRST">Price (high to low)</option>
                
            </select>
            <br>
            <label for="destination">Choose destination:<input type="text" id= "destination" value='{{base_dest.city_name}} {{base_dest.country_name}}' disabled= True></label>
            <br>
            <label for="currency">Currency: <input type="text" id='currency' value={{home_currency[0][0]}}></label>
            <br>
            <label for="adult_num">Number of Adults: <input type="number" name="adult_num" id="adult_num" min="1"> </label>
            <br>
            <input type="submit"  id="hotel_submit" value="Find Accomadations">
        </form>         
    </div>
    <div class="modal" tabindex="-1" id="hotels">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="hotelHeader">Hotel Results</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id='hotel_results'></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <p>
    <button id="currency_button" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#four" aria-expanded="false" aria-controls="four">
        <img src="/static/layout/foreign-exchange.svg" alt="Money Currency Icon">
      </button>
    </p>
    <div class="collapse" id ="four">
        <div class="card card-body" id='money_exchange'>
          
          <h5>Money Currency</h5>
          <div id="home currency">{{home_currency[0][1]}} -- {{home_currency[0][0]}} -- {{home_currency[0][2]}}</div><br>
          {% if country_currency|length > 1 %}
            {% for curr in country_currency %}
                <div>{{curr[1]}} -- {{curr[0]}} -- {{curr[2]}}</div>
                {% for rate in currency_rate %}
                    {% if  rate[curr[0]] == 'Sorry! having trouble finding currency info!'%}
                        <p>{{rate[curr[0]]}}</p>
                    {%elif curr[0] in rate %}
                        <p>Current Rate: {{curr[2]}}{{rate[curr[0]]}} to {{home_currency[0][2]}}1</p> 
                    {% endif %}
                {% endfor %}
            {% endfor %}
              
            {% else %}
          <div>{{country_currency[0][1]}} -- {{country_currency[0][0]}} -- {{country_currency[0][2]}}</div>
          
          <p>Current Rate: {{country_currency[0][2]}} {{currency_rate[country_currency[0][0]]}} to {{home_currency[0][2]}}1</p>
        {% endif %}
        </div>
    </div>
    
        
    

    <!-- falsh message link -->
    <script src="/static/databases/countries.js"></script>
    

   <script src="/static/js/travel_planner.js"></script> 
    
{%endblock body%}